<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Employee List</h3>
				<div class="box-tools">
					<div class="input-group">
						<input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search" ng-model="searchEmployee" />
						<div class="input-group-btn">
							<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
						</div>
					</div>
				</div>
			</div><!-- /.box-header -->
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<tr>
						<th>ID</th>
						<th>User</th>
						<th>Role</th>
						<th>Status</th>
						<th></th>
					</tr>
					<tr ng-repeat="emp in employees | filter: searchEmployee">

						<td>
							{{ emp.id }}
						</td>
						<td>
							{{emp.firstName}} - {{ emp.lastName}}
						</td>

						<td><span class="label label-warning">{{ emp.role.roleDesc }}</span></td>

						<td><span class="label" ng-class="emp.status.statusId == '1' ? 'label-success': 'label-danger' ">{{ emp.status.statusDesc | capitalize }}</span></td>

						<td>                                            
							<div class="tools" ng-show="globals.currentUser.user_role === 'HR Admin'">
								<a href="#/employee/edit/{{emp.id}}"><i class="fa fa-edit"></i></a>
								<a href="javascript: void(0)" ng-click="deleteEmployee(emp.id,$index)"><i class="fa fa-trash-o"></i></a>
							</div>
						</td>
					</tr>
				</table>
			</div><!-- /.box-body -->
			<div class="box-footer clearfix no-border" ng-show="globals.currentUser.user_role === 'HR Admin'">
				<a class="btn btn-default pull-right" ng-href="#/employee/add"><i class="fa fa-plus"></i> Add Employee</a>
			</div>
		</div><!-- /.box -->
	</div>