<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">                
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="active">
            <li>
                <a ng-href="#/employee">
                    <i class="fa fa-envelope"></i> <span>Employees</span>
                </a>
            </li>
        </ul>

    </section>
    <!-- /.sidebar -->
</aside>