<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">                
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li>
                <a ng-href="#/userstory">
                    <i class="fa fa-th"></i> <span>User Story</span>
                    <!-- <small class="badge pull-right bg-green">new</small> -->
                </a>
            </li>
            <li>
                <a ng-href="#/sprint">
                    <i class="fa fa-calendar"></i> <span>Sprint</span>
                    <!-- <small class="badge pull-right bg-red">3</small> -->
                </a>
            </li>
        </ul>

    </section>
    <!-- /.sidebar -->
</aside>