<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">                
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="active">
                <a ng-href="#/product">
                    <i class="fa fa-dashboard"></i> <span>Product Backlog</span>
                </a>
            </li>
            <li>
                <a ng-href="#/user-story">
                    <i class="fa fa-th"></i> <span>User Story</span> <small class="badge pull-right bg-green">new</small>
                </a>
            </li>
            <li>
                <a ng-href="#/release">
                    <i class="fa fa-envelope"></i> <span>Mailbox</span>
                    <small class="badge pull-right bg-yellow">12</small>
                </a>
            </li>
            <li>
                <a ng-href="#/employee">
                    <i class="fa fa-envelope"></i> <span>Employees</span>
                </a>
            </li>
        </ul>

    </section>
    <!-- /.sidebar -->
</aside>