<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">Release List</h3>
				<div class="box-tools">
					<div class="input-group">
						<input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search" ng-model="searchReleases" />
						<div class="input-group-btn">
							<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
						</div>
					</div>
				</div>
			</div><!-- /.box-header -->
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<tr>
						<th>ID</th>
						<th>Title</th>
						<th>Product</th>
						<th>Scrum Master</th>
						<th></th>
					</tr>
					<tr ng-repeat="release in releases | filter: searchReleases">

						<td>
							{{ release.id }}
						</td>
						<td>
							{{ release.relsName }}
						</td>

						<td>
							{{ release.product.prdName }}
						</td>
						
						<td>
							{{ release.product.employee.firstName }} 
							{{ release.product.employee.lastName }}
						</td>

						<td>                                            
							<div class="tools">
								<a href="#/release/edit/{{release.id}}"><i class="fa fa-edit"></i></a>
								<a href="javascript: void(0)" ng-click="deleteRelease(release.id,$index)"><i class="fa fa-trash-o"></i></a>
							</div>
						</td>
					</tr>
				</table>
			</div><!-- /.box-body -->
			<div class="box-footer clearfix no-border">
				<a class="btn btn-default pull-right" ng-href="#/release/add"><i class="fa fa-plus"></i> Add Release</a>
			</div>
		</div><!-- /.box -->
	</div>