<div class="box-body">
	<div class="form-group" ng-class="{ 'has-error' : productForm.title.$invalid && productForm.$submitted }">
		<label>Title</label>
		<input class="form-control" type="text" name="title" ng-model="product.prdName" required/>
	</div>

	<div class="form-group" ng-class="{ 'has-error' : productForm.description.$invalid && productForm.$submitted }">
		<label>Description</label>
		<input class="form-control" type="text" name="description" ng-model="product.prdDesc" required />
	</div>
</div>

<div class="box-footer">
	<button type="submit" class="btn btn-primary">Submit</button>
</div>